@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "tt-travels-next";
  src: url("src/assets/fonts/TT-Travels-Next-Trial-Regular.ttf")
    format("truetype");
}

* {
  font-family: tt-travels-next;
}
